$bg-color: #FFFFFF;
$body-font: 'Catamaran', sans-serif;

$logo-width: 100px;
$logo-height: auto;

$logo-max-width: 100px;

$header-pad-y: 26px;

$menu-height: 30px;
$menu-width: 30px;
$menu-icon-path: '../images/menu.svg';

$nav-link-color: #fff;
$nav-link-font-weight: 700;

$color-off-white: rgba( 255, 255, 255, 0.2 );

$hero-font-size: 64px;
$hero-font-weight: 900;

$hero-lg-padding: 50px;
$hero-xl-padding: 200px;

$hero-form-pad-y: 20px;
$hero-form-pad-x: 50px;
$hero-form-border-width: 3px;
$hero-form-border-radius: 50px;
$hero-form-border-color: #F2994A;
$hero-form-input-color: #C3C0C0;